* {
    box-sizing: border-box;
    font-family: Verdana;
}

.title {
    background: black;
    width: 100%;
    height: fit-content;
    padding: 10px;
    text-align: center;
    margin-bottom: 5%;
    color: white;
}

#container {
    background: rgb(225, 250, 2);
    border: 2px solid black;
    min-height: 300px;
    width: 50%;
    display: grid;
    justify-items: center;
    margin: 10% 40%;
}

input[type=text] {
    width: fit-content;
    height: fit-content;
    outline: none;
}

input[type=button] {
    width: fit-content;
    height: fit-content;
    background: #000;
    color: #fff;
    outline: dotted;
    cursor: pointer;
}